/* body{
  background-image: linear-gradient(rgba(237, 20, 0, 0.5),rgba(163, 11, 11, 0),rgba(9, 96, 246, 0.6)),url(./Netflix.jpg  );

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;

 }
 p{
  color: #fff;
 }
h1{
  color: #fff;

} */

/* div{
  width: 400px;
  height: 300px;
  border: 10px dotted blue; */
  /* padding: 50px; */
  /* background-color: aqua; */
  /* background-image: url(./Netflix.jpg); */
  /* background-clip: border-box; */
  /* background-clip: content-box; */
  /* background-clip: padding-box; */
  /* background-origin: border-box; */
  /* background-origin: content-box; */
  /* background-origin: padding-box; */
/* } */