/* #id_name{
  color: rgb(22, 149, 222);
  height: 50px;
  

}
.classname{
  background-color: rgb(37, 37, 215);
  color: antiquewhite;
}
.class1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
} */